@{
    ViewData["Title"] = "Admin Index";
}

<h1>Administration Index Page</h1>

<p>
    <a asp-action="Index" asp-controller="Projects">Projects</a>
</p>
<p>
    <a asp-action="Index" asp-controller="Teams">Teams</a>
</p>
@*<p>
    <a asp-action="ProjectsWithApplicationStatusWaiting" asp-controller="Projects">Projects with Applications Status Waiting</a>
</p>*@