@model ProjectsSoftuni.Web.Areas.Administration.ViewModels.Applications.ApplicationsViewModel

<table class="table">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Application Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in Model.Applications)
        {
            <tr>
                <td>@application.TeamName</td>
                <td>@application.ApplicationStatusName</td>
                <td>
                    @Html.ActionLink("Approve", "Approve", "Applications", new { projectId = application.ProjectId, teamId = application.TeamId }) |
                    @Html.ActionLink("Reject", "Reject", new { projectId = application.ProjectId, teamId = application.TeamId })
                </td>
            </tr>
        }
    </tbody>
</table>
